@page "/createTenant"
@using OmnitroTool.Shared
@inject HttpClient Http
@using System.Linq
<h3>CreateTenant</h3>


@*<select>
    <option>choose Tenant</option>
    @foreach (var tenant in tenants)
    {
        <option value="@tenant">@tenant</option>
    }
</select>*@


@code{
    //    bool isloading=false;
    //    List<string> tenants = new List<string>();
    //protected override async Task OnInitializedAsync()
    //{

    //    tenants = await Http.GetJsonAsync<List<string>>(@"http://localhost:63429/api/Tenants");

    //    Console.WriteLine("checking tenants" + string.Join(",", tenants));
    //}



}
